
        <div id="write-content" th:with="groupedData=${groupedData}" th:fragment="content">
            <form id="reviewForm" th:method="${CommunityResponse} != null?'PUT':'POST'" enctype="multipart/form-data">
                <!-- Img input -->
            	<input type="file" name="imageFiles" id="imageFiles" accept="image/*" multiple>
            	<button id="imageUploadButton" type="button" class="btn btn-primary" style="display: none;">
    				<i class="bi bi-image"></i>
				</button>
            	
            	
            	<!-- 이미지 미리보기를 위한 <img> 태그 -->
				<img id="imagePreview" src="#" alt="Image Preview" 
					 style="max-width: 100%; max-height: 300px; display: none;">
					 
                <!-- title input -->
                <div class="form-floating mb-3"> 
                <input type="text" class="form-control" 
                	   th:value="${CommunityResponse != null}?${CommunityResponse.plannerReviewTitle}:''"
                	   id="title" name="title" placeholder="Enter title"  required>
                    <label for="title">제목을 입력하세요</label>
                </div>
                <!-- comment input -->
                <div class="form-floating mt-3">
                    <textarea class="form-control" id="content" name="content"
                    		  th:text="${CommunityResponse != null}?${CommunityResponse.plannerReviewContent}:''" 
                    		  placeholder="Enter comment" oninput="autoResize(this)"></textarea>
                    <label for="content">어떤 여행이었는지 간단한 소감 한마디 남겨주세요.</label>
                </div>
                <hr
                class="border border-4 border-secondary">
                <!-- Day filter button-->
                <div
                    id="plannerLoadNav" th:if="${groupedData != null}">
                    <!-- Nav pills -->
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item" th:each="dayNum: ${#numbers.sequence(1, groupedData.size)}">
                            <a class="nav-link rounded-pill text-center" data-bs-toggle="pill" th:href="'#Day' + ${dayNum}" th:classappend="${dayNum == 1 ? 'active' : ''}" th:text="'Day' + ${dayNum}"></a>
                        </li>
                    </ul>
                </div>
                <!-- Tab panes -->
                <div id="plannerLoadContent" class="container mt-3 tab-content" th:if="${groupedData != null}">
                    <div
                    	
                        th:each="entry, countEntry:${groupedData}" class="dayItineray tab-pane" th:classappend="${countEntry.count == 1 ? 'active' : 'fade'}" th:id="'Day' + ${countEntry.count}">
                        <!-- Day | Planner Date -->
                        <h3 th:text="'Day'+${countEntry.count} + ' | ' + ${entry.key}"></h3>
                        <!-- Block space -->
                        <ul class="list-group list-group-flush">
                            <li
                                th:each="detail, countDetail:${entry.value}" class="list-group-item"
                                >
                                <!-- ball -->
                                <label class="badge bg-danger rounded-circle" th:text="${countDetail.count}"></label>
                                <!-- place title -->
                                <label data-bs-toggle="collapse" th:data-bs-target="'#planner-Place'+${countEntry.count}+'-'+${countDetail.count}" th:aria-controls="'planner-Place'+${countEntry.count}+'-'+${countDetail.count}">
                                    <strong th:text="${detail.placeName}"></strong>
                                    <small th:text="${detail.placeCategory}"></small>
                                </label>
                                <!-- place review(rate, text, img) -->
                                <!-- rate -->
                                <div class="collapse placeReview m-2 px-3" style="border-left: 1px solid #6c757d;" th:id="'planner-Place'+${countEntry.count}+'-'+${countDetail.count}">
                                    <input type="hidden" th:value="${detail.detailPlanNo}" th:name="'detailPlanNo'+'-'+${countEntry.count}+'-'+${countDetail.count}">
                                    <input type="hidden" th:value="${detail.placeNo}" th:name="'placeNo'+'-'+${countEntry.count}+'-'+${countDetail.count}">
                                    <div class="star-container">
                                        <div class="star-widget py-1 ">
                                            <input type="radio" value="5" th:name="'rate'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:id="'rate-5'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:checked="${detail.placeReviewScore == 5.0}">
                                            <label th:for="'rate-5'+'-'+${countEntry.count}+'-'+${countDetail.count}" class="bi bi-star-fill"></label>
                                            <input type="radio" value="4" th:name="'rate'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:id="'rate-4'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:checked="${detail.placeReviewScore == 4.0}">
                                            <label th:for="'rate-4'+'-'+${countEntry.count}+'-'+${countDetail.count}" class="bi bi-star-fill"></label>
                                            <input type="radio" value="3" th:name="'rate'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:id="'rate-3'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:checked="${detail.placeReviewScore == 3.0}">
                                            <label th:for="'rate-3'+'-'+${countEntry.count}+'-'+${countDetail.count}" class="bi bi-star-fill"></label>
                                            <input type="radio" value="2" th:name="'rate'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:id="'rate-2'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:checked="${detail.placeReviewScore == 2.0}">
                                            <label th:for="'rate-2'+'-'+${countEntry.count}+'-'+${countDetail.count}" class="bi bi-star-fill"></label>
                                            <input type="radio" value="1" th:name="'rate'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:id="'rate-1'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:checked="${detail.placeReviewScore == 1.0}">
                                            <label th:for="'rate-1'+'-'+${countEntry.count}+'-'+${countDetail.count}" class="bi bi-star-fill"></label>
                                        </div>
                                    </div>
                                    <!-- text -->
                                    <div class="form-floating mb-2">
                                        <textarea class="form-control" th:id="'placeContent'+'-'+${countEntry.count}+'-'+${countDetail.count}" th:name="'placeContent'+'-'+${countEntry.count}+'-'+${countDetail.count}" placeholder="Enter comment" oninput="autoResize(this)" th:text="${detail.placeReviewContent}"></textarea>
                                        <label th:for="'placeContent'+'-'+${countEntry.count}+'-'+${countDetail.count}">장소에 대한 리뷰를 남겨주세요</label>
                                    </div>
                                    <!-- img(schedule) -->
                                    
                                </div>
                                <!-- /placeReview -->
                            </li>
                        </ul>
                    </div>
                    <!-- dayItineray -->
                  <button type="button" th:if="${CommunityResponse != null}" th:onclick="'saveTravelReview(' + ${CommunityResponse.travelReviewNo} + ', ' + ${CommunityResponse.travelPlanNo} + ')'" class="btn btn-primary float-end" th:text="'수정하기'"></button>
				<button type="button" th:if="${CommunityResponse == null}" th:onclick="'saveTravelReview(undefined, ' + ${groupedData.entrySet()[0].value[0].travelPlanNo} + ')'" class="btn btn-primary float-end" th:text="'등록하기'"></button>
                </div>
                <!-- Tab panes -->


            </form>
        </div>
        