<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/plan/bootstrap.min.css">
   <link rel="stylesheet" href="css/plan/daterangepicker.css">
   <link rel="stylesheet" href="css/plan/style.css">
    
    <!-- Custom styles for WeatherPlanner-->
    <link rel="stylesheet" href="css/plan/wpstyle.css"> 
</head>

<body>
   <div class="row" id="schedule-container">
       <div th:insert="~{planPage/planForm :: copy}" class="frame col-md-4 mr-1 container"></div>
       
       <div class="map col-md-6 ml-1 container">
           <div class="category row">
               <button type="button" class="form-control col-md-4" name="category" id="category" value="39">음식점</button>
               <button class="form-control col-md-4" name="category" value="12">관광지</button>
               <button class="form-control col-md-4" name="category" value="15">행사/공연/축제</button>
           </div>
           <div id="map"></div>
       </div>
   </div>

    <script src="js/plan/jquery-3.4.1.min.js"></script>
   <script src="js/plan/bootstrap.min.js"></script>
   <script src="js/plan/moment.min.js"></script>
   <script src="js/plan/daterangepicker.js"></script>
   
   <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0a4e5f604e58c301ddedd0a6790ec3bf"></script>
   <script>
      var container = document.getElementById('map');
      var options = {
         center: new kakao.maps.LatLng(33.450701, 126.570667),
         level: 3
      };

      var map = new kakao.maps.Map(container, options);
   </script>

   <script src="js/plan/planperiodcalculator.js"></script>
    
    <script src="js/plan/clickcategoryandselectandcancelandapply.js"></script>
    <script>
    
 
    </script>
    
</body>

</html>