    <div class="row" id="search">
    <div class="col-md-3" style="
    padding-right: 0px;
    ">
        <select name="area" id="area" class="form-control custom-select" style="text-align: center; border: dotted; border-color: #E5F2FF;">
            <option value="">장소</option>
            <option value="가평">가평</option>
            <option value="강릉">강릉</option>
            <option value="경주">경주</option>
            <option value="부산">부산</option>
            <option value="여수">여수</option>
            <option value="인천">인천</option>
            <option value="전주">전주</option>
            <option value="제주">제주</option>
        </select>
       </div>
        
        <div class="col-md-9">
        <input class="form-control col-md-9" id="search" type="text" name="keyword" style="border: dotted; border-color: #E5F2FF;">
        </div>
    </div>
        
    <div id="places" class="container">
	    <!-- <div class="row" id="place" th:each="place : ${places}"> -->
	    <div class="row" id="place" th:each="place : ${places}">
	        <div class="form-control4 col-md-9">
	            <div>
	                <span id="placeName" th:text="${place.place_name}">칠암사계</span>
	                <span id="placeCategory" th:text="${place.place_category}" style="font-size: 12px;">먹거리, 베이커리/디저트</span>
	            </div>
	            <div>
	                <span id="placeAddr" th:text="${place.road_name_adr}" style="font-size: 12px;">부산 기장군 일광읍 칠암1길 7-10</span>
	            </div> 
	        </div>
	        <button type="button" class="form-control4 col-md-3 select" th:value="${place.place_no}" style="background-color: rgb(229, 242, 255);">선택</button>
	    	<input type="hidden" class="detailPlanNo" th:value="276"/>
	    </div>
</div>

    <input type="hidden" th:value=${dateString} id="date"/>
    <input type="hidden" th:value=${plan.startDate} id="startDate"/>
    <input type="hidden" th:value=${plan.endDate} id="endDate"/>
     <input type="hidden" th:value=${plan.title} id="title"/>
    <button type="button" class="form-control" id="applyBtn" style='background-color: #4B96F3; color: white'>적용</button>