<body th:fragment="div">
   
    


<div id="map_container">
    <h1>현재 날씨</h1>
    <p><span id="dateOutput"></span> 기준 : <span id="dateOutput2"></span></p>
    <div class="city" id="seoul">
        <p>서울</p>
        <p><span>🌞</span></p>
        <p>21°C</p>
    </div>
    <div class="city" id="incheon">
        <p>인천</p>
        <p><span>☁</span></p>
        <p>19°C</p>
    </div>
    <div class="city" id="daegu">
        <p>대구</p>
        <p><span>☁</span></p>
        <p>19°C</p>
    </div>
    <div class="city" id="busan">
        <p>부산</p>
        <p><span>☁</span></p>
        <p>19°C</p>
    </div>
    <div class="city" id="daejeon">
        <p>대전</p>
        <p><span>☁</span></p>
        <p>19°C</p>
    </div>
    <div class="city" id="gyeonggi">
        <p>경기</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="gangwon">
        <p>강원</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="chungbuk">
        <p>충북</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="chungnam">
        <p>충남</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="jeonbuk">
        <p>전북</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="jeonnam">
        <p>전남</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="kyungbuk">
        <p>경북</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="kyungnam">
        <p>경남</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>
    <div class="city" id="jeju">
        <p>제주</p>
        <p><span>🌧</span></p>
        <p>20°C</p>
    </div>

</div>
</body>