<body th:fragment="div" >
   
    

<p id ="map_location">현재 위치 : <span id="resultLocation"></span></p>
<div id="map_container">
    <p id ="dateOut">기준 : <span id="dateOutput2"></span></p>
	    
         <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 203 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="seoul" id="divseoul">
		    <p>서울</p>
		    <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
		    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
			<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
		    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
	    <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 255 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="incheon" id="divincheon">
			    <p>인천</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
	     <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 246 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="daegu" id="divdaegu">
			    <p>대구</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
	    <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 229 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="busan" id="divbusan">
			    <p>부산</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 271 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="daejeon" id="divdaejeon">
			    <p>대전</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 284 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="gyeonggi" id="divgyeonggi">
			    <p>경기</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 448 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="gangwon" id="divgangwon">
			    <p>강원</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 326 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="chungbuk" id="divchungbuk">
			    <p>충북</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 341 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="chungnam" id="divchungnam">
			    <p>충남</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 358 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="jeonbuk" id="divjeonbuk">
			    <p>전북</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 374 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="jeonnam" id="divjeonnam">
			    <p>전남</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 397 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="kyungbuk" id="divkyungbuk">
			    <p>경북</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 422 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="kyungnam" id="divkyungnam">
			    <p>경남</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 265 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="gwangju" id="divgwangju">
			    <p>광주</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 421 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="ulleung" id="divulleung">
			    <p>울릉</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		 <div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 445 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="jeju" id="divjeju">
			    <p>제주</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		
		<div th:each="city : ${list}" th:if="${city.SECOND_PRECINCT_NO == 277 and city.FORECAST_TIME == currentTime and city.FORECAST_DAY == currentDate}" class="city" th:id="ulsan" id="divulsan">
			    <p>울산</p>
			  <p th:if="${city.SKY == '1'}" class="clear"><span>☀</span></p>
			    <p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP != '강수없음'}" class="rain"><span>🌧</span></p>
				<p th:if="${(city.SKY == '3' or city.SKY == '4') and city.PCP == '강수없음'}" class="cloud"><span>☁</span></p>
			    <p th:text="${city.TMP + '&deg;C'}"></p>
		</div>
		
		


</div>
</body>