    <header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
		    <a class="navbar-brand" th:href="@{/main}">
		        <img src="images/main_logo.png" alt="#" width="200" height="66" class="d-inline-block align-top" style="margin:10px 10px 10px 30px">
		    </a>
		    
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>
		
		    <div class="collapse navbar-collapse" id="navbarNav">
		        <ul class="navbar-nav ms-auto">
		            <li class="nav-item active">
		                <a class="nav-link" href="#">여행일정짜기</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">여행장소추천</a>
		            </li>
		            <li class="nav-item">
		                <a class="nav-link" href="#">여행자랑하기</a>
		            </li>
		        </ul>
		    </div>
		  <!-- 로그인 상태가 아닐 경우 로그인 버튼을 표시 -->
		<a class="btn btn-primary" th:href="@{/login}" style="margin:0 50px" th:if="${not isLoggedIn}">로그인</a>
		<!-- 로그인 상태일 경우 마이페이지 버튼을 표시 -->
		<a class="btn btn-primary" th:href="@{/mypage}" style="margin:0 50px" th:if="${isLoggedIn}">마이페이지</a>
		</nav>
    </header>
