<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/recommend/recommend.css}" />
    <script th:src="@{/js/recommend/recommend.js}"></script>
    <script th:src="@{/js/NaverApi.js}"></script>
</head>
<body>
	 <header th:replace="@{mainPage/menu.html} :: header"></header>

   <div id="filters" class="mt-4">
        <h1>연령별 추천 장소</h1>
        <button class="btn btn-primary ageFilter" data-age="age10">10대</button>
        <button class="btn btn-primary ageFilter" data-age="age20">20대</button>
        <button class="btn btn-primary ageFilter" data-age="age30">30대</button>
        <button class="btn btn-primary ageFilter" data-age="age40">40대</button>
        <button class="btn btn-primary ageFilter" data-age="age50more">50대이상</button>
    </div>

    <!-- 추천 컨텐츠 목록 -->
    <div id="content" class="mt-4">
        <ul class="item age10"  >
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="item age20"  >
            <li>컨텐츠 2</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="item age30"  >
            <li>컨텐츠 3</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="item age40"  >
            <li>컨텐츠 4</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="item age50more"  >
            <li>컨텐츠 5</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
    </div>


	<div id="filters2" class="mt-4">
        <h1>근처 이런곳은 어때요?</h1>
        <button class="btn btn-primary locateFilter" data-locate="shop">쇼핑</button>
        <button class="btn btn-primary locateFilter" data-locate="restaurant">음식점</button>
        <button class="btn btn-primary locateFilter" data-locate="area">관광지</button>
        <button class="btn btn-primary locateFilter" data-locate="accommodation">숙박</button>
        <button class="btn btn-primary locateFilter" data-locate="festival">행사</button>
    </div>

    <div id="content2" class="mt-4">
        <ul class="location shop">
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="location restaurant">
            <li>컨텐츠 2</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="location area">
            <li>컨텐츠 3</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="location accommodation">
            <li>컨텐츠 4</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
        <ul class="location festival">
            <li>컨텐츠 5</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
            <li>컨텐츠 1</li>
        </ul>
    </div>

    <script>
       
    </script>
</body>
</html>
