<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="DetailPlanMapper">

	<!-- 여행기 쓰기 여행블럭 정보 불러오기 -->
	<select id="selectPlannerDetail" resultType="CommunityDetailResponse"
		parameterType="int">
		SELECT TP.TRAVEL_PLAN_NO, TP.MEMBER_sNO,
		TRAVEL_PLAN_TITLE, START_YMD, END_YMD,
		DP.DETAIL_PLAN_NO, DETAIL_PLAN_YMD, DETAIL_PLAN_HOUR, DETAIL_PLAN_DATE,
		COLOR, BLOCK_ORD, PL.PLACE_NO, PLACE_CATEGORY, PLACE_NAME, ROAD_NAME_ADR,
		LOT_NUMBER_ADR, LONGITUDE, LATITUDE, SCORE,
		PR.PLACE_REVIEW_NO, PLACE_REVIEW_IMG, PLACE_REVIEW_CONTENT, PLACE_REVIEW_SCORE,
		WRITE_DATE
		FROM TRAVEL_PLAN_TB TP
		LEFT JOIN DETAIL_PLAN_TB DP ON TP.TRAVEL_PLAN_NO = DP.TRAVEL_PLAN_NO
		LEFT JOIN DETAIL_PLAN_BLOCK_TB DB ON DP.DETAIL_PLAN_NO = DB.DETAIL_PLAN_NO
		LEFT JOIN PLACE_TB PL ON DP.PLACE_NO = PL.PLACE_NO
		LEFT JOIN PLACE_REVIEW_TB PR ON DP.DETAIL_PLAN_NO = PR.DETAIL_PLAN_NO
		WHERE TP.TRAVEL_PLAN_NO = #{TRAVEL_PLAN_NO}
		ORDER BY TP.MEMBER_NO, DP.DETAIL_PLAN_YMD, DETAIL_PLAN_HOUR
	</select>

<insert id="insertDetailPlan" parameterType="PlanDTO2" >
INSERT INTO detail_plan_tb (
    	detail_plan_no, 
    	travel_plan_no,
    	place_no,
    	detail_plan_ymd, 
    	detail_plan_hour,
    	detail_plan_hour_end
    )
    VALUES (
    	detail_plan_sq.nextval,
    			#{planNo},
    			#{place.place_no}, 
    			#{realDate}, 
    			#{startHour},
    			#{endHour}
    )
</insert>
<insert id="insertDetailPlan2" parameterType="java.util.List">
    INSERT INTO detail_plan_tb (
    	detail_plan_no, 
    	travel_plan_no, 
    	detail_plan_ymd, 
    	detail_plan_hour
    )
        <foreach collection="list" item="planDTO2" separator="UNION ALL">
            SELECT 
            	detail_plan_sq.nextval,
    			1, 
    			#{planDTO2.realDate}, 
    			#{planDTO2.time}
            FROM DUAL
        </foreach>
</insert>
</mapper>