<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="PlaceMapper">
	<insert id="insertPlace" parameterType="Item">
		insert into place_tb (place_no, place_name, road_name_adr, longitude, latitude, score)
		values (place_sq.nextval, #{title}, #{addr1}, 123, 123, 5)
	</insert>
	
	<select id="selectByNameAndCategory" parameterType="java.util.Map" resultType="Place">
		select place_category, place_name, road_name_adr
		from place_tb
		where place_category = #{category} and substr(road_name_adr, 1, 2) = #{location}
	</select>
</mapper>