<style>
        #filters {
            text-align: left;
            margin: 20px;
        }

        #content {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            width:1000px;
            height:600px;
        }
        

   		 .location ul {display:inline-block; width: 400px; height: 200px;}  
	        
	     .location ul li {
            list-style: none;
            margin-right: 10px;
        }
        
         .item ul {display:inline-block; width: 400px; height: 200px;}  
	        
	     .item ul li {
            list-style: none;
            margin-right: 10px;
        }
        
        li{list-style:none;}


</style>